/* Default Page Styles*/
/*
*
*
*/
/* The styles for the elements */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .80em;
    background-color: #CCCCCC;
    padding: 0px;
    margin: 0px;
}

table {
  padding: 20px;
    margin-top: 34px;
}


.paddingFooter {
    padding: 15px;
}

.footerRainbow1 {
    background-color: #cccccc;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.footerRainbow2 {
    background-color: #999999;
    padding: 5px;
    text-align: center;

}

.footerRainbow3 {
    background-color: #666666;
    padding: 5px;
    text-align: center;
     clear: right;
}

.footerRainbow4 {
    background-color: #333333;
    padding: 5px;
    text-align: center;
    
}

.footerRainbow5 {
    background-color: #000000;
    padding: 5px;
    text-align: center;

}


/* the styles for classes */

.HeaderMasterPage {
    border: 0px solid Gray;
    padding: 4px;
    clear: right;
    text-align: center;
    background-color: #CCCCCC;
    text-decoration: underline overline;
    color: #663300;
}

.menu ul li a {
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    line-height: 1.35em;
    display: block;
    white-space: nowrap;
    margin: 5px;
    padding: 7px 10px;
}

.menu ul li a:hover {
    color: #000000;
    text-decoration: none;
    text-decoration: underline;
    font-weight: bold;
}

.image_header {
   height: 95px; 
   width: 311px;
}

.Content {
   border: 4px double black;
}

/*Styles for Login, Registration, Change Password and Restore Password Pages */

#ContentPlaceHolder1_Login1 {
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px double grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

#ContentPlaceHolder1_CreateUserWizard1 {
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px double grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

#ContentPlaceHolder1_ChangePassword1 {
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px double grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

#ContentPlaceHolder1_PasswordRecovery1 {
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px double grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Syles for Add Incident Page*/

.addRegistration_page {
    margin: 30px auto;
    width: 43%;
    padding: 28px;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-left: 15px;
    border: 3px solid grey;
    background: #eee;
}

.addIncident_page {
    margin: 30px auto;
    width: 43%;
    padding: 28px;
    padding-bottom: 0px;
    padding-top: 25px;
    padding-left: 25px;
    border: 3px solid grey;
    background: #eee;
}

.technicianView {
    margin: 30px auto;
    width: 90%;
    padding: 25px 28px 25px 25px;
    border: 3px solid grey;
    background: #eee;
}

.technicianMaintenance {
    margin: 30px auto;
    width: 90%;
    padding: 28px;
    padding-top: 25px;
    padding-left: 25px;
    border: 3px solid grey;
    background: #eee;
}

.productManagement {
    margin: 30px auto;
    width: 90%;
    padding: 28px;
    padding-bottom: 0px;
    padding-top: 25px;
    padding-left: 25px;
    border: 3px solid grey;
    background: #eee;
}

.incidentManagement {
    margin: 30px auto;
    width: 90%;
    padding: 28px;
    padding-bottom: 0px;
    padding-top: 25px;
    padding-left: 25px;
    border: 3px solid grey;
    background: #eee;
}

.editIncident {
    margin: 30px auto;
    width: 70%;
    padding: 28px;
    padding-bottom: 0px;
    padding-top: 25px;
    padding-left: 25px;
    border: 3px solid grey;
    background: #eee;
}

.addRegistration_page {
    margin: 30px auto;
    width: 43%;
    padding: 28px;
    padding-bottom: 0px;
    padding-top: 25px;
    padding-left: 25px;
    border: 3px solid grey;
    background: #eee;
}

.addIncident_page {
    margin: 30px auto;
    width: 43%;
    padding: 28px;
    padding-bottom: 0px;
    padding-top: 25px;
    padding-left: 25px;
    border: 3px solid grey;
    background: #eee;
}

#header_center {
    margin: auto;
    width: 25%;
    padding: 25px;
    text-align:center;
}

.auto-style3 {
    width: 354px;
    padding-top: 10px;
}


/*End*/


/*.techsupport_img {

    margin-left: 80px;
    margin-top: 15px;

}

.td_right {

    text-align: right;
}

.table_log {

    margin: 0 auto;
    width: 500px;

}



.button {
    width: 90px;
    color: #FF0000;
    margin-bottom: 30px;
    margin-left: 142px;
}*/

