<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   
  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode"  value="None"/>
  </appSettings>
  
  <connectionStrings>
     <add name="techSupportDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TechSupport.mdf; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="internalUserDB" connectionString="Data Source=(LocalDB)\v11.0;&#xD;&#xA; &#xD;&#xA;AttachDbFilename=|DataDirectory|\ASPNETDB.mdf;&#xD;&#xA;&#xD;&#xA;      Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>

    <!--<roleManager enabled="true" defaultProvider="AspNetSqlLocalDbProvider">
      <providers>
        <clear />
        <add connectionStringName="internalUserDB" name="AspNetSqlLocalDbProvider"
          type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>-->

    <roleManager enabled="true" />

    <authorization>
      <allow roles="Admin, Support, Technician" />
      <!--<deny users="?" />-->
    </authorization>

    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="XmlSiteMapProvider"
             type="System.Web.XmlSiteMapProvider"
             siteMapFile="Web.sitemap"
             securityTrimmingEnabled="true" />
      </providers>
    </siteMap>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" />
    </authentication>
    
    <!--<membership defaultProvider="AspNetSqlLocalDbProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlLocalDbProvider"
             connectionStringName="internalUserDB"
              type="System.Web.Security.SqlMembershipProvider"
  />
      </providers>
    </membership>-->

    <membership>
      <providers>

        <!--Delete default setings-->
        <remove name="AspNetSqlMembershipProvider"/>

        <!--Addsettings for MembershipProvider for the current app-->
        <add name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="LocalSqlServer"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="50"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />

      </providers>
    </membership>

  </system.web>
  <system.net>
    <mailSettings>
      <!--Settings for sending new passwords when working with the control PasswordRecovery -->
      <smtp from="aspsitesample@gmail.com">
        <network host="smtp.gmail.com"
                 userName="aspsitesample@gmail.com"
                 password="!@#$qwer"
                 port="587"
                 enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>
